@media (max-width: 807px) {
  .arreglo {
    display: flex;
    justify-content: center; }
  .para_soft {
    display: none; } }

body {
  font-family: "anton", sans-serif;
  background-image: url(/imagenes/Fondo1.jpg); }

body {
  background-image: url(/imagenes/Fondo1.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0;
  font-family: "anton", sans-serif; }

nav {
  background-color: #1b1b1b; }

h1 {
  font-family: "Anton", sans-serif;
  background-color: rgba(8, 8, 8, 0.5); }

p {
  color: white; }
  p span {
    color: #c4a912; }

.texto-borde {
  -webkit-text-stroke: 1px black; }

h3 {
  color: white; }

.container {
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto; }
  .container .card {
    width: 350px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 2px black;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px; }
    .container .card h4 {
      color: #1b1b1b; }
    .container .card p {
      color: #1b1b1b; }
    .container .card button {
      background: black;
      border-radius: 10px; }
    .container .card a {
      text-decoration: none;
      color: #fcfafa; }

.card:hover {
  translate: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }

.rotar {
  width: 30px;
  transition-duration: 3s;
  transform: rotate(360deg); }

footer {
  padding: 4px;
  margin: 10px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: black;
  border-radius: 5px; }

.util {
  display: flex; }
